<launch>
    <include file="$(find powerline_selector)/launch/prog.launch"/>
    <include file="$(find drone_motion)/launch/prog.launch" />
    <include file="$(find estimator3d)/launch/prog.launch" />
    <include file="$(find lidar_matcher)/launch/prog.launch" />
    <include file="$(find image_processing)/launch/prog.launch"/>
    <include file="$(find data_logger)/launch/prog.launch"/>
</launch>
